$desktop-width: 1024px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

$primary-color: #c74385;
$secondary-color: #42515a;


body {
	margin: 0;
	background-color: gray;
}

.card-1 {
	max-width: 300px;
	margin: 20px auto;

	header {
		position: relative;
		z-index: 2;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 12px solid $primary-color;
		background-color: #FFFFFF;
		margin: 0 auto -50px auto;
		box-sizing: border-box;
		box-shadow: 3px 6px 11px -1px rgba(0,0,0,0.5);

		@include desktop {
			width: 150px;
			height: 150px;
			margin: 0 auto -75px auto;
		}
	}

	.body {
		position: relative;
		z-index: 1;
		padding-top: 75px;
		background-color: $secondary-color;
		text-align: center;
		color: #FFFFFF;
		border-radius: 20px; 
		box-shadow: 3px 6px 11px -1px rgba(0,0,0,0.5);

		h2 {
			color: $primary-color;
		}
		a {
			color: gray;
			text-decoration: none;
		}

	}

	footer {
		background-color: $primary-color;
		border-radius: 0 0 20px 20px; 
		padding: 20px;
	}

  nav {
  	display: flex;
  	justify-content: center;
  	margin: 60px 0 40px 0;

  	.icon {
  		margin: 0 5px;
  	}
  }

	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $primary-color;
		border-radius: 50%;
		width: 60px;
		height: 60px;

		svg {
			width: 50%;
			fill: #FFF;
		}
		//
	}


}